
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap"
            rel="stylesheet">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://unpkg.com/vue@3"></script>
        <title>Facebook API</title>
    </head>

    <body id="appIdx">

        <section class="md:h-full flex items-center text-gray-600" style="margin-top: 5%;">
            <div class="container px-5 py-24 mx-auto">

                <!-- Cabecera -->
                <div class="text-center mb-12">
                    <h1 class="text-4xl md:text-6xl text-gray-700 font-semibold">Search Facebook User</h1>
                </div>

                <!-- Favorites -->
                <div class="favorites">
                    <transition-group name="list">
                        <!-- Asgarra los datos de todosFavoritos con el alias de "alias" -->
                        <div class="favorite" v-for="alias in todosFavoritos" :key="alias.id">
                            <!-- Al hace click me mostrará el perfil del usuario seleccionado sin recargar la pg -->
                            <a @click.prevent="mostrarFavorito(alias)" href="">
                                <img v-bind:src="alias.picture.data.url" alt="" class="favorite__avatar">
                            </a>
                        </div>
                    </transition-group>
                </div>

                <!--Formulario de busqueda-->
                <form class="search" v-on:submit.prevent="buscar">
                    <!-- Se inserta la barra de busqueda -->
                    <input v-model="busqueda" type="text" class="search__input" required
                        placeholder="Search Facebook ID User">
                    <!-- Se inserta el boton de buscar -->
                    <input type="submit" class="search__submit" value="Search">
                </form>

                <!-- Estilo de la carta -->
                <center>
                    <transition>


                        <div v-if="result">
                            <!-- Tamaño que va a tener la carta -->
                            <div class="p-4 sm:w-1/2 lg:w-1/2">
                                <!-- Se establece el diseño del borde de la carta -->
                                <div
                                    class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                                    <!-- Imagen de perfil -->
                                    <img v-bind:src="result.picture.data.url" alt=""
                                        class="lg:h-72 md:h-48 w-full object-cover object-center" alt="blog">
                                    <!-- Diseño cuerpo de la carta -->
                                    <div class="p-6 hover:bg-gray-800 hover:text-white transition duration-300 ease-in">
                                        <!-- Contenido de la carta -->
                                        <h1 id="appIdx" class="text-2x1 font-semibold mb-3">ID:</h1>
                                        <h2 id="appIdx">{{ result.id }}</h2>
                                        <br>
                                        <h1 id="appIdx" class="text-2x1 font-semibold mb-3">Nombre:</h1>
                                        <h1 id="appIdx">{{ result.name }}</h1>
                                        <br>
                                        <!-- Botón para guardar y evitar que recargue la pagina -->
                                        <a v-if="estaFavorito" class="text-2x1 font-semibold mb-3"
                                            @click.prevent="removeFavorito" href="">
                                            Borrar Favorito <img src="img/papelera.png" alt="30" width="30"></a>
                                        <!-- Botón que aparece luego de dar click en el primero, y evita que recargue -->
                                        <a v-else v-on:click.prevent="addFavorito" class="text-2x1 font-semibold mb-3"
                                            href="">
                                            Añadir a Favoritos <img src="img/estrella.png" alt="30" width="30"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </center>
            </div>
        </section>
        <!-- Instanciamos el main.js -->
        <script src="js/main.js"></script>
        <script>
            //creamos una constante para guardar el acoplamiento de las funciones de main
            const A = appFB.mount('#appIdx')
        </script>
    </body>

    </html>
